@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter");
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
body{
    height: 2386px;
    background-color:  #F1F1F1;
}
.news_lift{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.medium_alike{
    width: 1120px;
    height: 22px;   
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top:19px;
    margin-left:152px;
    margin-right:152px;
}
.left_img{
    width: 24px;
    height: 24px;
    margin-top:75px;
    margin-left:152px;
}
.img_author{
    width: 64px;
    height: 64px;
}

.desc{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
}
.authors_name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.info_about_author{
    display:flex;
    flex-direction: column;
    align-items:start;
    justify-content: space-around;
    width: 243px;
    height: 52px;
    margin-left:16px;
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 243px;
    height: 18px;
}
.info_top{
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    width: 323px;
    height: 64px;
    margin-left: 152px;
    margin-top:155px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    width: 100px;
    height: 24px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left:1180px;
}
.img_logo{
    width: 18px;
    height: 18px;
    margin-left: 3px;
    margin-top: 3px;
}
.text{
    margin-left: 152px;
    margin-top:76px;
    width: 1120px;
    height: 98px;
}
.topic{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 38px;
}
.short_description{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.big_image{
    width: 1120px;
    height: 480px;
    margin-left: 152px;
    margin-top:70px;
}
.big-text{
    margin-left: 152px;
    margin-top: 70px;
    width: 1120px;
    height: 640px;
}
.subheader{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.main_text{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.actions-img{
    width: 18px;
    height: 18px;
    margin-top:3px;
    margin-bottom: 3px;
}

.frame1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 53px;
    height: 24px;   
}
.desc180{
    margin-left:3px;
    margin-top:3px;
    margin-bottom: 3px;
}
.frame2{
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 44px;
    height: 24px;
    margin-top:3px;
    margin-bottom: 3px;
}
.desc12{
    margin-left:3px;
    margin-top:3px;
    margin-bottom: 3px;
}
.actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 111px;
    height: 24px;
}
.bookmark{
    width: 18px;
    height: 18px;
}
.info_bottom{
    margin-top:70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:152px;
    width: 1120px;
    height: 24px;
}
.credits{
    width: 608px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;

    color: #081E34;
    opacity: 0.5;

    margin-left: 645px;
    margin-top: 337px;
}
.made_w_love{
    width: 248px;
    height: 18px;

    /* Body S 14 pt/Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #081E34;
    margin-left: 1010px;
    margin-top: 40px;
}
.credits u {
    margin-left: 4px;
}
.credits{
    width: 608px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;

    color: #081E34;
    opacity: 0.5;

    margin-left: 645px;
    margin-right: 152px;
    margin-top: 785px;
}
.made_w_love{
    width: 248px;
    height: 18px;

    /* Body S 14 pt/Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #081E34;
    margin-left: 1010px;
    margin-top: 28px;
}
.credits u {
    margin-left: 4px;
}


